body {
    display:flex;
    justify-content: center;
    align-items:center;
}
.container {
    display:flex;
    flex-direction:column;
    border:3px solid black;
    margin-top:100px;
}

.input { 
    height:100px;
    width:380px;
    background-color:white;
    margin: 10px;
    border:3px solid black;
}

.keypad {
    margin:10px;
    display:flex;
    flex-direction:column;
}

.row {
    display:flex;
    justify-content:space-evenly;
    margin: 5px 0;
}
button { 
    width:95px;
    height:50px;
}
.wide {
    width:190px;
}