body {
    display:flex;
    justify-content: center;
    align-items:center;
}
.container {
    display:flex;
    flex-direction:column;
    border:3px solid black;
    background-color: black;
    margin-top:100px;

}

.input { 
    height:90px;
    width:380px;
    background-color:white;
    margin: 10px 10px 5px 10px;
    border:2px solid black;
    background-color: lightgray;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.screen {
    padding: 0 10px;
    font-size:50px;
    letter-spacing: 2px;
}

.keypad {
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap:1px;
}

.row {
    display:flex;
    justify-content:space-evenly;
    gap:1px;
    
}
button { 
    width:95px;
    height:60px;
    margin:0;
    border:1px solid black;
    border-radius:5px;

    font-size:30px;
}

.value {
    background-color: rgba(40, 177, 97,1);
    --bg-color: rgba(40, 177, 97,1);
    --hover-color: rgb(40, 177, 97,0.5);
}
.operator {
    background-color:rgba(244, 146, 11,1);
    --bg-color:rgba(244, 146, 11,1);
    --hover-color: rgba(244, 146, 11,0.5);
}
.spec {
    background-color: rgba(34, 170, 221,1);
    --bg-color: rgba(34, 170, 221,1);
    --hover-color: rgba(34, 170, 221,0.5);
}

.wide {
    width:190px;
}

.screen, button {
    font-family:monospace;
}