body {
    display:flex;
    justify-content: center;
    align-items:center;
}
.container {
    display:flex;
    flex-direction:column;
    border:3px solid black;
    background-color: black;
    margin-top:100px;
}

.input { 
    height:90px;
    width:380px;
    background-color:white;
    margin: 10px 10px 0 10px;
    border:2px solid black;
    background-color: lightgray;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.screen {
    padding: 0 10px;
    font-size:50px;
    letter-spacing: 2px;
}

.keypad {
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    gap:1px;
}

.row {
    display:flex;
    justify-content:space-evenly;
    gap:1px;
    
}
button { 
    width:95px;
    height:60px;
    margin:0;
    border:1px solid black;
    border-radius:5px;

    font-size:30px;
}

.value {
    background-color: #69C639;
}
.operator {
    background-color:#F4920B;
}
.spec {
    background-color: #22AADD;
}

.wide {
    width:190px;
}

.screen, button {
    font-family:monospace;
}